.body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(246, 246, 246);
}

.form {
    border: 3px solid #0c0b0b;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: black;
}

.header {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(4, 3, 3);
    text-align: center;
    font-size: 50px;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button {
    background-color: #edbb06;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: large;
}
  
.button:hover {
    opacity: 0.8;
}

.href {
    background-color: #edbb06;
    color: white;
    padding: 14px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 97%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}